CREATE DATABASE QUANLYDA
USE QUANLYDA

CREATE TABLE CHUYENMON
(
   MaTDCM char(3) PRIMARY KEY NOT NULL,
   TenTDCM nvarchar(100) not null,
)
INSERT INTO CHUYENMON VALUES ('A01',N'Kỹ sư Công nghệ thông tin')
INSERT INTO CHUYENMON VALUES ('A02',N'Kỹ sư Mạng máy tính và truyền thông')
INSERT INTO CHUYENMON VALUES ('A03',N'Kỹ sư Công nghệ phần mềm')






CREATE TABLE NHANVIEN
( 
  MaNV char(6) PRIMARY KEY NOT NULL,
  HoNV nvarchar(20) not null,
  TenLotNV nvarchar(20) not null,
  TenNV nvarchar(20) not null,
  NgaySinh datetime,
  Phai NVARCHAR(3),
  DiaChi nvarchar(100),
  Hesoluong dec(4,2),
  MaTDCM char(3) constraint RB_TDCM foreign key(MaTDCM)references CHUYENMON(MaTDCM),
  
)

INSERT INTO NHANVIEN VALUES ('A1.001',N'NGUYỄN',N'THANH',N'TÙNG','08/12/1965',N'NAM',N'TRÀ VINH','4.66','A01')
INSERT INTO NHANVIEN VALUES ('A1.002',N'NGUYỄN',N'MẠNH',N'HÙNG','09/15/1962',N'NAM',N'VĨNH LONG','4.33','A02')

INSERT INTO NHANVIEN VALUES ('A1.003',N'TRẦN',N'THANH',N'TÂM','07/31/1972',N'NỮ',N'VĨNH LONG','3.99','A03')










CREATE TABLE PHONGBAN
(
   MaPB CHAR(2) PRIMARY KEY ,
   TenPB nvarchar(100) not null,
   
 ) 

INSERT INTO PHONGBAN VALUES ('KT',N'Kỹ thuật');
INSERT INTO PHONGBAN VALUES ('KD',N'Kinh doanh');
INSERT INTO PHONGBAN VALUES ('SX',N'Sản xuất');


CREATE TABLE NHIEMVU
(
   MaNhiemVu char(2) primary key,
   TenNhiemVu nvarchar(50) not null,
   
 )  



INSERT INTO NHIEMVU VALUES ('A1',N'TỔ TRƯỞNG TỔ KỸ THUẬT')
INSERT INTO NHIEMVU VALUES ('A2',N' PHÓ TỔ TRƯỞNG TỔ KỸ THUẬT')

INSERT INTO NHIEMVU VALUES ('A3',N'TỔ TRƯỞNG TỔ SẢN XUẤT')







CREATE TABLE NHANVIEN_NHIEMVU
(
   MaNV char(6),
   MaPhong char(2),
   MaNhiemVu char(2),
   NgayNhanNhiemVu date default getdate(),
   NgayKetThuc date default null,
   CONSTRAINT RB_NV_PB_NV PRIMARY KEY (MaNV,MaPhong,MaNhiemVu), 
   CONSTRAINT RB_MaNV  foreign KEY (MaNV) REFERENCES NHANVIEN(MaNV),

   CONSTRAINT RB_MaPhong  foreign KEY (MaPhong) REFERENCES PHONGBAN(MaPhong),
   
   CONSTRAINT RB_MaNhiemVu  foreign KEY (MaNhiemVu) REFERENCES NHIEMVU(MaNhiemVu)

)













